*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.deliveboo-logo{
    width: 40%;
}

.jumbotron-container{
    background-image: url();
    background-repeat: no-repeat;
    background-size: contain;
}

.find-restaurant-input{
    width: 25rem;
    height: 3.75rem;
}